<div class="title">
    </span>Jerry's Gallery</span>
</div>

<div class="date-display">
    <table id="date-container">
        <tr id="date-header-row">
            <td><span>Year</span></td>
            <td><span>Month</span></td>
            <td class="disp-day"><span>Day</span></td>
        </tr>
        <tr id="date-table-row">
            <td><span id="disp-year">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></td>
            <td><span id="disp-month">&nbsp;</span></td>
            <td class="disp-day"><span id="disp-day">&nbsp;</span></td>
        </tr>
    </table>
</div>